html, body
{
	height: 100%;
}
a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
h3 {
	margin: 0;
	padding: 0;
}
#logo
{
	padding: 4em 0em;
	background: #FFF;
}
#logo h1
{
	text-align: center;
	font-weight: 900;
	font-size: 2.5em;
}
#logo span
{
	padding: 0em 0em 0em 0.5em;
}
#logo a
{
	color: #009E2D;
}
#header
{
	background: #009E2D;
}
#menu ul
{
	margin: 0;
	padding: 20px 0px 20px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}
#menu li
{
	display: inline-block;
}
#menu a
{
	display: block;
	padding: 1em 2em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #FFF;
}
#menu .current_page_item a
{
	border-radius: 30px;
	border: 0px;
	background-color: rgba(255,255,255,.2);
}
#menu a:hover, .copyright a:hover, .page a:hover
{
	border-radius: 30px;
	border: 0px;
	background-color: rgba(255,255,255,.2);
}
.page {
	padding: 6em 2em;
}
.feature {
	padding: 5em 2em;
}
.title {
    padding: 1em 2em 2em 2em;
    text-align: center;
}
.title h2 {
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-weight: 700;
    color: #3f3f3f;
}
p {
    line-height: 180%;
    text-align: justify;
}
.powerpoint {
	text-align: center;
	margin: auto;
	width: 100%;
}
.even-page {
	background-color: #99CC99;
}
.icon-span {
	background-color: #99CC00;
	color: #FFF;
	position: relative;
	display: block;
	margin: 0px auto 20px auto;
	line-height: 2.5em;
	font-size: 4em;
	text-align: center;
}
.feature-div{
	text-align: center;
}
.byline{
	display: block;
	padding-top: 1em;
}
.copyright {
	background-color: #009E2D;
	padding: 5em 2em;
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
}
.copyright p {
	text-align: center;
    font-size: 1em;
    color: #FFF;
}
.page a, .copyright a {
	color: #FFF;
}